<a href="https://colab.research.google.com/github/gyimesbalint/DL_project/blob/main/dataimport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing datasets

In [ ]:
# https://drive.google.com/file/d/1pmNSD1nbYHEAiP065s4akRXHMWFs9Dqw/view?usp=sharing DBpedia train.csv
# https://drive.google.com/file/d/1mKededzdbJsWQnwsu-R_WSILYSvNEY7c/view?usp=sharing DBpedia test.csv
!pip install gdown 
!gdown --id 1pmNSD1nbYHEAiP065s4akRXHMWFs9Dqw --output train.csv  #import train.csv from drive
!gdown --id 1mKededzdbJsWQnwsu-R_WSILYSvNEY7c --output test.csv   #import test.csv from drive

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)
Downloading...
From: https://drive.google.com/uc?id=1pmNSD1nbYHEAiP065s4akRXHMWFs9Dqw
To: /content/train.csv
100% 174M/174M [00:01<00:00, 153MB/s]
Downloading...
From: https://drive.google.com/uc?id=1mKededzdbJsWQnwsu-R_WSILYSvNEY7c
To: /content/test.csv
100% 21.8M/21.8M [00:00<00:00, 99.9MB/s]

In [ ]:
import numpy as np
import pandas as pd

train_data = pd.read_csv('train.csv', encoding='utf8',header=None) #read csv to dataframe
test_data = pd.read_csv('test.csv', encoding='utf8',header=None)   #read csv to dataframe

train_data.where(train_data[0] < 6, inplace = True)  #select first 5 categories
train_data = train_data[train_data[0].notnull()]     #remove NaN values

test_data.where(test_data[0] < 6, inplace = True)    #select first 5 categories
test_data = test_data[test_data[0].notnull()]        #remove NaN values

In [ ]:
train_data.sample(5) #sample from train data

          0  ...                                                  2
729     1.0  ...   Parks College Airline is an defunct airline b...
74775   2.0  ...   The Institut des Sciences de l'Ingénieur de T...
196368  5.0  ...   Richard Henry Kroft CM (born May 22 1938) is ...
136445  4.0  ...   Jack Carlson (born August 23 1954 in Virginia...
188223  5.0  ...   Edward Lawrence Leahy (February 9 1886 – July...

[5 rows x 3 columns]

In [ ]:
test_data.sample(5) #sample from test data

         0  ...                                                  2
9496   2.0  ...   Trinity College School (TCS) is a coeducation...
10998  3.0  ...   Matthew Odell is an American pianist. He has ...
12004  3.0  ...   Ben Pollack (June 22 1903 - June 7 1971) was ...
14589  3.0  ...   Juana Judith Bustos Ahuite (born 22 November ...
4906   1.0  ...   Juan Valdez Café is a multinational coffeehou...

[5 rows x 3 columns]

In [ ]:
train_label = pd.to_numeric(train_data.iloc[:,0]) #select labels (int) from train data
train_text = train_data.iloc[:,1:3] #select article text from train data

In [ ]:
test_label = pd.to_numeric(test_data.iloc[:,0]) #select labels (int) from test data
test_text = test_data.iloc[:,1:3] #select article text from train data

#Pre-processing

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer #vectorizer for article text data
from nltk.corpus import stopwords #stopwords for desktop usage
import nltk
nltk.download('stopwords') #stopwords for collab notebook

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
vectorizer = CountVectorizer(stop_words=stopwords.words('english'), analyzer='word', ngram_range=(1, 1)) #vectorizer for words, removing stopwords

In [ ]:
test_title = test_text.iloc[:,0] #select titles from test text
test_desc = test_text.iloc[:,1]  #select descriptions from test text

In [ ]:
train_title = train_text.iloc[:,0] #select titles from train text
train_desc = train_text.iloc[:,1]  #select descriptions from train text

In [ ]:
titles = pd.concat([test_title, train_title]) #concat titles for vectorazition
descs = pd.concat([test_desc, train_desc]) #concat descriptions for vectorazition

In [ ]:
titles = pd.DataFrame.sparse.from_spmatrix(vectorizer.fit_transform(titles)) #vectorizing test_title and adding it to a dataframe
title_feature_names = np.asarray(vectorizer.get_feature_names()) #getting all feature names for test_title
descs = pd.DataFrame.sparse.from_spmatrix(vectorizer.fit_transform(descs)) #vectorizing test_desc and adding it to a dataframe
desc_feature_names = np.asarray(vectorizer.get_feature_names()) #getting all feature names for test_desc

In [ ]:
test_title = titles[0:len(test_title.index)]

In [ ]:
#First 5 rows and feature names obtained with the vectoritzer
print(test_title[0:5])
print(title_feature_names[0:5])

   0       1       2       3       ...  128076  128077  128078  128079
0       0       0       0       0  ...       0       0       0       0
1       0       0       0       0  ...       0       0       0       0
2       0       0       0       0  ...       0       0       0       0
3       0       0       0       0  ...       0       0       0       0
4       0       0       0       0  ...       0       0       0       0

[5 rows x 128080 columns]
['002' '05' '07' '09' '0verflow']

In [ ]:
test_desc = descs[0:len(test_desc.index)]

In [ ]:
#First 5 rows and feature names obtained with the vectorizer
print(test_desc[0:5])

   0       1       2       3       ...  316656  316657  316658  316659
0       0       0       0       0  ...       0       0       0       0
1       0       0       0       0  ...       0       0       0       0
2       0       0       0       0  ...       0       0       0       0
3       0       0       0       0  ...       0       0       0       0
4       0       0       0       0  ...       0       0       0       0

[5 rows x 316660 columns]

In [ ]:
train_title = titles[len(test_title.index):]

In [ ]:
#First 5 rows and feature names obtained with the vectoritzer
print(train_title[0:5])

       0       1       2       3       ...  128076  128077  128078  128079
25000       0       0       0       0  ...       0       0       0       0
25001       0       0       0       0  ...       0       0       0       0
25002       0       0       0       0  ...       0       0       0       0
25003       0       0       0       0  ...       0       0       0       0
25004       0       0       0       0  ...       0       0       0       0

[5 rows x 128080 columns]

In [ ]:
train_desc = descs[len(test_desc.index):]

In [ ]:
#First 5 rows and feature names obtained with the vectoritzer
print(train_desc[0:5])

       0       1       2       3       ...  316656  316657  316658  316659
25000       0       0       0       0  ...       0       0       0       0
25001       0       0       0       0  ...       0       0       0       0
25002       0       0       0       0  ...       0       0       0       0
25003       0       0       0       0  ...       0       0       0       0
25004       0       0       0       0  ...       0       0       0       0

[5 rows x 316660 columns]

In [ ]:
from scipy.sparse import csr_matrix #for min-max scaling sparse matrices

In [ ]:
def normalize(df): #function for min-max scaling of dataframes
    result = df.copy()
    for feature_name in df.columns:
        max_value = csr_matrix(df[feature_name]).max()
        min_value = csr_matrix(df[feature_name]).min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [ ]:
test_title = normalize(test_title) #min-max scale test_title

In [ ]:
print(test_title[0:5])

   0       1       2       3       ...  128076  128077  128078  128079
0     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 128080 columns]

In [ ]:
test_desc = normalize(test_desc) #min-max scale test_desc

In [ ]:
print(test_desc[0:5])

In [ ]:
train_title = normalize(train_title) #min-max scale train_title

In [ ]:
print(train_title[0:5])

In [ ]:
train_desc = normalize(train_desc) #min-max scale train_desc

In [ ]:
print(train_desc[0:5])

In [ ]:
test_title.to_csv(index=False)
test_desc.to_csv(index=False)
train_title.to_csv(index=False)
train_desc.to_csv(index=False)

Our **X** will be the sparse matrices and the feature names from the title and the description, and **Y** will be the labels provided in the csv file.

Validation split is obtained later in the model.fit() function from training data